<div class="spinning-cog">
  <%= link_to trade_processes_path do %>
    <i class="fa fa-cog"></i>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= render partial: "shared/banners/banner", locals: { background_image: 'the_machine.gif', size: 'banner-text-smaller' } %>
    </div>
  </div>
</div>
<div class="exposition">
  <div class="exposition-content">
    <p>
      Automaat is an automated trading system started by <span>Ollie Senduk</span> and <span>Lars Böhm</span>, the purpose of the project is to create an automated cryptocurrency trading mechanism in the simplest way possible.
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <%= render partial: "shared/cards/avatar_card", locals: {
        profile_image: 'https://kitt.lewagon.com/placeholder/users/olliesenduk',
        name: 'Ollie Senduk',
        description: "Founder at Guerrilla Strawberry and teacher at <a href='https://lewagon.com/'>Le Wagon</a>",
        github: 'https://github.com/OllieSenduk',
        website: 'http://www.guerrillastrawberry.com'
       } %>
    </div>
    <div class="col-xs-12 col-md-6">
      <%= render partial: "shared/cards/avatar_card", locals: {
        profile_image: 'https://kitt.lewagon.com/placeholder/users/datene',
        name: 'Lars Böhm',
        description: "Co-founder at Unless.io and teacher at <a href='https://lewagon.com/'>Le Wagon</a>",
        github: 'https://github.com/datene',
        website: 'http://www.unless.io'
       } %>
    </div>
  </div>
</div>
