.breadcrumbs {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 14px;
  z-index: 5;
  span {
    opacity: 0.4;
  }
  a {
    color: $red;
    text-decoration: none;
    &:hover, &:focus, &:visited, &:active {
      color: $red;
      text-decoration: none;
    }
  }
}