table.simple-stats {
  td.header {
    font-size: 15px;
    font-weight: 300;
  }
  tr > td:last-child {
    text-align: right;
  }
  tr {
    border-bottom: 1px solid $red;
  }
}

table.trade_processes {
  width: 100%;
  flex-grow: 1;
  tr.even {
    background-color: $light-gray;
  }
  tr td:last-child {
    text-align: right;
    padding-right: 20px;
  }
  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    color: $red;
    text-decoration: none;
    &:hover, &:focus, &:visited, &:active {
      color: $red;
    }
    p {
      flex: 1 0 auto;
      margin: 0;
    }
    .fa {
      margin-right: 50px;
    }
  }
}

table.coins {
  thead {
    th {
      padding-right: 20px;
      line-height: 55px;
      font-weight: 300;
      opacity: 0.3;
    }
    tr > th:nth-child(3) {
      width: 150px;
    }
    tr > th:nth-child(4) {
      padding-right: 0;
    }
  }
  tbody {
    td {
      line-height: 30px;
      font-weight: 300;
    }
    tr > td:nth-child(4) {
      text-align: right;
    }
    tr {
      background-color: $light-gray;
      transition: background-color 200ms ease;
    }
    tr:hover {
      background-color: #cecaca;
    }
  }
}