// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "config/utilities";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/crypto_icons/cryptocoins";
@import "components/index";
@import "pages/index";

body {
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  .all-content {
    flex: 1 0 auto;
  }
}